@media only screen and (min-width: 37.5em) {
  /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */
  
 section figure.sitelogo {
    display: block;
    border: 1px solid red;
    float: left;
    margin: 2%;
    width: 15%;
} 
    
  main section.forecast {
    display: block;
}
    
.forecastpic img {
    width: 25%;
    position: center;
}
    
  table {
    margin-left: auto;
    margin-right: auto;
  }
  table,th,td {
    border: 1px solid black;
  }
  th,td {
    padding: 15px;
    text-align: left;
  }
    
  article figure.articlephoto {
    width: 50%;
    margin: 0 0 1% 2%;
    float: right;
}
    
  
  article p.town-article img { width: 62.666%; float:right; }  /* responsive images */
    
/* gallery page grid */    
    
  main section.picturegrid {
    grid-template-columns: 1fr 1fr;
}    
    
/*storm center page*/
    
    input.submitBtn {
        width: 75%;
    }
    
}